[Unit]
Description=listener_maltrail service timer
After=multi-user.target

[Timer]
OnBootSec=10s
Unit=listener_maltrail.service

[Install]
WantedBy=timers.target
