[Unit]
Description=if-change-scan service timer
After=multi-user.target network.target

[Timer]
OnStartupSec=10sec
OnUnitActiveSec=12sec
OnCalendar=*:*:0/15

Unit=if-change-scan.service

[Install]
WantedBy=timers.target


