[Unit]
Description=rkhunter_scanner_timer

[Timer]
OnBootSec=15 m
OnCalendar=*-*-* 00,06,12,18:00:00
Unit=rkhunter_scanner.service

[Install]
WantedBy=multi-user.target
